@import "tailwindcss";

body {
  color: #e2e8f0;
  background-color: #121212;
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #2e303a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3e414f;
}
